<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>動画変換</title>
	<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
	<link href="css/styles.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active" aria-current="page" href="https://kinoshitadaiki.work">Home</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="text-center mt-5">
			<h1>動画変換サイト</h1>
			<form class="row g-3" th:object="${videoModel}">
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<h2>ご利用ありがとうございます。</h2>
					</div>
				</div>
				<div class="col-md-3">
				</div>
				
				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<p>変換を開始しました。</p>
						<p>処理完了後、ご指定のメールアドレスに確認メールをお送りします。</p>
						<p>そちらよりダウンロードを開始してください。</p>
						<p>数時間経ってもメールが来ない場合は、迷惑メールの設定を確認するか、</p>
						<p>変換しなおしてください。</p>
					</div>
				</div>
				<div class="col-md-3">
				</div>

				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<span class="input-group-text">オリジナルファイル名</span>
						<input type="text" class="form-control" th:field="*{video.originalFilename}" readonly>
					</div>
				</div>
				<div class="col-md-3">
				</div>

				<div class="col-md-3">
				</div>
				<div class="col-md-6">
					<div class="input-group">
						<span class="input-group-text">送信先</span>
						<input type="text" class="form-control" th:field="*{email}" readonly>
					</div>
				</div>
				<div class="col-md-3">
				</div>
			</form>
		</div>
	</div>
	<!-- Bootstrap core JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>

</html>